@echo off
if "%TEEM_DEST%" == "" goto system
set __hdest=%TEEM_DEST%\include
set __ldest=%TEEM_DEST%\lib
set __ddest=%TEEM_DEST%\lib
goto install
:system
if "%TEEM_INSTALL_SYSTEM%" == "" goto local
set __hdest=%2\include
set __ldest=%2\lib
set __ddest=%SystemRoot%\system32
goto install
:local
set __hdest=..\..\include
set __ldest=..\..\lib
set __ddest=..\..\lib
:install
echo Installing teem headers into %__hdest%
mkdir "%__hdest%"
TEEMALLDOTHecho Installing %1.lib into %__ldest%
mkdir "%__ldest%"
copy /y /b ..\lib\%1.lib "%__ldest%"
echo Installing %1.dll into %__ddest%
mkdir "%__ddest%"
copy /y /b ..\lib\%1.dll "%__ddest%"
:end
